* {
	background-color: black;
	margin: 0;
	padding: 0;
}

.image-container {
	background-color: black;
}

img {
	width: 100%;
	opacity: 0.7;
}

.text-kobe {
	color: white;
	font-size: 4rem;
	opacity: 0.7;
}

/*footer*/

footer {
	padding: 7.9rem;
	background-color: #121212;
	color: #fff;
	text-align: center;
	position: relative;

}

.back-to-top{
	width: 7rem;
	height: 7rem;
	background-color: #121212;
	position: absolute;
	top: -3rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
}
.back-to-top i {
	display: block;
	color: #fff;
	font-size: 2rem;
	padding: 2rem;
	animation: up 2s infinite;
}

.footer-content {
	overflow: :hidden;
}

.footer-content h4 {
	font-size: 1.9rem;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
	margin-bottom: 3rem;
}

.footer-content .asterisk {
	margin: 2.4rem 0;
}

.footer-content-about {
	margin-bottom: 5.4rem;
}

.footer-content-about p {
	line-height: 2;
}

.social-icons {
	list-style: none;
	margin-bottom: 5.4rem;
	display: flex;
	justify-content: center;
}

.social-icons i {
	font-size: 2rem;
	color: #fff;
	padding: .8rem 2rem;
	opacity: .5;
	transition: color .5s;
}

.social-icons i:hover,
.socail-icons i:focus{
	color: var(--secondary-font-color);
}

.newsletter-form {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}

.newletter-input {
	width: 100%;
	max-width: 25rem;
	padding: 1rem;
	border-radius: .4rem;

}

.newsletter-btn {
	background-color: transparent;
	border:none;
	color: var(--main-font-color-dark);
	cursor:pointer;
	font-size: 1.6rem;
	padding: 1px .6rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 10.5rem;
}

/*Navbar*/
.nav {
	height: 7.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: none;
}

.menu-toggle {
	color: white;
	font-size: 2.2rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 2.5rem;
	cursor: pointer;
	z-index: 1500;
}

.fa-times {
	display: none;
}

.nav-list {
	list-style: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 80%;
	height: 100vh;
	background-color: var(--main-font-color-dark);
	padding: 4.4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 1250;
	transform: translateX(-100%);
	transition: transform .5s;
}

.nav::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0, 0.8);
	z-index: 1000;
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.5s;
}
/*end of navbar*/

/*Media queries*/

@media screen and (min-width: 900px){
	section{
		padding: 7.9rem;
	}

	.menu-toggle {
		display: none;
	}

	.nav {
		justify-content: space-between;
	}

	.nav-list{
		position: initial;
		width: initial;
		height: initial;
		background-color: transparent;
		padding: 0;
		justify-content: initial;
		flex-direction: row;
		transform: initial;
		transition: initial;
	}

	.nav-item {
		margin: 0 2.4rem;
		border: none;
	}

	.nav-item:last-child{
		margin-right: 0;
	}

	.nav-link{
		font-size: 1.3rem;
	}

	.active{
		position: relative;
	}

	.active::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fff;
		left: 0;
		bottom: -3px;
	}

	.sub-headline {
		font-size: 12vw;

	}

	.first-letter {
		font-size: 12.2rem;
	}

	.headline{
		font-size: 4.7rem;
		letter-spacing: .8rem;
	}

	.line {
		max-width: 11.4rem;
	}


	.about-us {
		display: flex;
		align-items: center;
	}

	.about-us > div {
		flex: 1;
	}

	.padding-right {
		padding-right: 7rem;
	}

	.footer-content {
		max-width: 77.5rem;
		margin: auto;
	}

	.footer-content-about {
		max-width: 51.3rem;
		margin: 0 auto 5.4rem;
	}

	.footer-content-divider {
		display: flex;
		justify-content:space-between;
	}

	.social-media,
	.newsletter-form{
		width: 100%;
		max-width: 27.3rem;
		margin: 0 1rem;
	}

	.social-icons {
		opacity: 1;
	}

	.newsletter-btn {
		margin-left: 7.5rem;
	}
}


/* Animation*/

@keyframes fadeUp {
	0% {
		transform: translateY(4rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scale {
	0% {
		transform: scale(2);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes grow {
	0% {
		width: 0;
	}

	100% {
		opacity: 1;
		width: 100%;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}

	100% {
		opacity: 1;
		transform: rotate(-360deg);
	}
}


@keyframes fadeDown {
	0% {
		transform: translateY(-1rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes up {
	0% {
		opacity: 0;
	}
	50%{
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(-1rem);
	}
}